html,
body {
    margin: 0;
    padding: 0 100px 0 100px;
    height: 100%;
    background-color: rgb(87, 90, 90);
    /* z-index: -1; */
}

body {
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    body,html{
        padding: 0px;
    }
}
